html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#map-canvas {
  height: 100%;
  width: 100%;
  z-index: 10;
}
#info-container {
  position: absolute;
  top: 0;
  left: 100px;
  width: 300px;
  padding: 10px;
  background-color: #eee;
  z-index: 100;
  font-size: 1.0em;
}
#score, #username {
  font-weight: bold;
  font-size: 1.8em;
}
#msg {
  font-weight: normal;
  padding-left: 10px;
  color: #999;
}
#map-canvas-admin {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
}
#container {
  position: absolute;
  left: 20px;
  top: 20px;
  background-color: rgba(255,255,255,0.8);
  width: 350px;
  padding: 20px;
  z-index: 20;
}
form#adminForm {
  padding: 20px;
}
form#adminForm div {
  display: block;
}
form#adminForm label {
  display: block;
  position: relative;
  float: left;
  text-align: right;
  padding-right: 10px;
  margin-top: 7px;
  width: 100px;
}
form#adminForm input,
form#adminForm select,
form#adminForm button {
  font-size: 18px;
}
form#adminForm input {
  width: 130px;
}
form#adminForm input#numThings {
  width: 70px;
}
form#adminForm button {
  width: 125px;
}
form#adminForm input#numThings,
form#adminForm input#lon2,
form#adminForm select#mapStyles {
  margin-bottom: 20px;
}
div#usernameForm {
  position: relative;
  display: none;
  z-index: 1000;
}
#gameLink {
  padding-left: 130px;
  display: none;
}
#leadersLink {
  font-size: 24px;
}
ul#leadersList {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul#leadersList {
  list-style: none;
  margin: 0;
  padding: 0;
}

span.leadersUsername {
  display: inline-block;
  width: 80%;
}
span.leadersScore {
  display: inline-block;
  width: 20%;
  text-align: right;
}

/* navbar */
/* http://stackoverflow.com/questions/18599778/decreasing-height-of-bootstrap-3-0-navbar */
/* .navbar-primary .navbar { background:#9f58b5; border-bottom:none; }
.navbar-primary .navbar .nav > li > a {color: #501762;}
.navbar-primary .navbar .nav > li > a:hover {color: #fff; background-color: #8e49a3;}
.navbar-primary .navbar .nav .active > a,.navbar .nav .active > a:hover {color: #fff; background-color: #501762;}
.navbar-primary .navbar .nav li > a .caret, .tnav .navbar .nav li > a:hover .caret {border-top-color: #fff;border-bottom-color: #fff;}
.navbar-primary .navbar .nav > li.dropdown.open.active > a:hover {}
.navbar-primary .navbar .nav > li.dropdown.open > a {color: #fff;background-color: #9f58b5;border-color: #fff;}
.navbar-primary .navbar .nav > li.dropdown.open.active > a:hover .caret, .tnav .navbar .nav > li.dropdown.open > a .caret {border-top-color: #fff;}
.navbar-primary .navbar .navbar-brand {color:#fff;}
.navbar-primary .navbar .nav.pull-right {margin-left: 10px; margin-right: 0;}
.navbar-xs .navbar-primary .navbar { min-height:28px; height: 28px; }
.navbar-xs .navbar-primary .navbar .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 28px; }
.navbar-xs .navbar-primary .navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 28px; }
.navbar-sm .navbar-primary .navbar { min-height:40px; height: 40px; }
.navbar-sm .navbar-primary .navbar .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 40px; }
.navbar-sm .navbar-primary .navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 40px; } */
